.heading-container{
    font-family: Helvetica;
    border-radius: 0px 0px 10px 0px;
    width:25vh;
    height:8vh;
    background-color: #9f4141;
    font-size: 1.7em;
    padding: 0 8px 0 8px;
    color:white;
}
.heading-horizontal{
    border-top: 1px solid #c79191;
    box-sizing: border-box;
    position: relative;
    top:-40px;
}
.heading{
    position: relative;
    top:-10px;
}
.heading-bigtext{
    font-size: 1.3em;
    box-sizing: border-box;
}